.deckLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 0.15em 0;
}

.deckLink:hover .deleteIcon {
  opacity: 1;
}

@media (max-width: 1200px) {
  .deckLink .deleteIcon {
    opacity: 1;
  }
}

.deleteIcon {
  opacity: 0;
  color: var(--danger);
  height: 0.85em;
  cursor: pointer;
  stroke: var(--danger);
}

.link {
  width: 100%;
  cursor: pointer;
  color: var(--fg-muted);
  font-size: 0.85em;
}

.link:hover {
  color: var(--fg);
}
