.layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto minmax(min-content, 960px) auto;
  grid-template-rows: 2.5rem auto;
  grid-template-areas:
    "header header header"
    ".  content  .";
  gap: 1rem;
  background: var(--bg);
}

.content {
  width: 100%;
  grid-area: content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  grid-area: header;
  font-size: 0.85rem;
  text-align: right;
  padding-right: 2rem;
  padding-top: 0.5rem;
}

.link {
  text-decoration: underline;
  color: var(--fg);
}

.column1 {
  width: 35%;
}

.column1 p {
  font-size: 1.05rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  color: var(--fg-muted);
}

.column2 {
  width: 65%;
}

.screenshot {
  max-width: 100%;
  border: var(--border);
  border-radius: var(--radius);
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }
  .column1,
  .column2 {
    width: 100%;
  }
  .header {
    padding-right: 0.5rem;
  }
}
